## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_Vacation_Search import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,East London,ZA,-33.02,27.91,62.6,42,0,11.41,2020-08-31 11:34:40
1,1,Punta Arenas,CL,-53.15,-70.92,33.8,86,32,12.75,2020-08-31 11:32:14
2,2,La Rioja,ES,42.25,-2.50,68.0,37,17,4.70,2020-08-31 11:40:44
3,3,Lompoc,US,34.64,-120.46,55.4,93,90,1.21,2020-08-31 11:32:15
4,4,Road Town,VG,18.42,-64.62,84.2,83,40,11.41,2020-08-31 11:40:44

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
max_temp = input("What is the Maximum Temperature you would like for your trip (Fahrenheit): ")
min_temp = input("What is the Minimum Temperature you would like for your trip (Fahrenheit): ")

What is the Maximum Temperature you would like for your trip (Fahrenheit): 40
What is the Minimum Temperature you would like for your trip (Fahrenheit): 20

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= int(max_temp)) & (city_data_df["Max Temp"] >= int(min_temp))]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Date          0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
1,1,Punta Arenas,CL,-53.15,-70.92,33.80,86,32,12.75,2020-08-31 11:32:14
34,34,Ushuaia,AR,-54.80,-68.30,28.40,92,75,6.93,2020-08-31 11:34:20
83,83,Upernavik,GL,72.79,-56.15,38.44,85,24,5.55,2020-08-31 11:34:20
86,86,Yellowknife,CA,62.46,-114.35,39.20,93,20,3.36,2020-08-31 11:31:07
164,164,Cherskiy,RU,68.75,161.30,39.43,90,100,3.36,2020-08-31 11:36:06
180,180,Qaanaaq,GL,77.48,-69.36,31.28,84,0,5.79,2020-08-31 11:34:29
214,214,Barrow,US,71.29,-156.79,39.20,80,90,23.04,2020-08-31 11:34:23
236,236,Kaitangata,NZ,-46.28,169.85,39.99,88,53,24.00,2020-08-31 11:34:27
241,241,Tasiilaq,GL,65.61,-37.64,39.20,86,100,14.99,2020-08-31 11:36:05
254,254,Ilulissat,GL,69.22,-51.10,39.20,64,40,3.06,2020-08-31 11:34:53
319,319,Chokurdakh,RU,70.63,147.92,39.07,91,65,9.31,2020-08-31 11:34:44
351,351,Pevek,RU,69.70,170.31,34.50,88,0,9.53,2020-08-31 11:34:40
353,353,San Carlos De Bariloche,AR,-41.15,-71.31,28.40,86,0,6.93,2020-08-31 11:40:25
440,440,Leningradskiy,RU,69.38,178.42,34.59,95,100,7.38,2020-08-31 11:34:32
441,441,Egvekinot,RU,66.32,-179.17,35.49,85,57,14.99,2020-08-31 11:35:43
459,459,Coihaique,CL,-45.58,-72.07,30.20,92,90,2.17,2020-08-31 11:35:10
528,528,Burns Lake,CA,54.23,-125.75,36.73,92,58,1.61,2020-08-31 11:42:20
559,559,Hay River,CA,60.82,-115.80,39.20,100,20,4.70,2020-08-31 11:42:25
624,624,Comodoro Rivadavia,AR,-45.87,-67.50,39.20,86,90,4.32,2020-08-31 11:37:40
629,629,General Roca,AR,-39.03,-67.58,37.40,69,0,3.36,2020-08-31 11:34:19
673,673,Bathurst,AU,-33.42,149.58,39.99,89,0,2.89,2020-08-31 11:42:48
674,674,Talcahuano,CL,-36.72,-73.12,35.60,93,1,4.70,2020-08-31 11:42:48

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1    Punta Arenas      CL     33.80 -53.15  -70.92
34        Ushuaia      AR     28.40 -54.80  -68.30
83      Upernavik      GL     38.44  72.79  -56.15
86    Yellowknife      CA     39.20  62.46 -114.35
164      Cherskiy      RU     39.43  68.75  161.30
180       Qaanaaq      GL     31.28  77.48  -69.36
214        Barrow      US     39.20  71.29 -156.79
236    Kaitangata      NZ     39.99 -46.28  169.85
241      Tasiilaq      GL     39.20  65.61  -37.64
254     Ilulissat      GL     39.20  69.22  -51.10

In [42]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for city in hotel_df["City"]:
    # 6c. Get latitude and longitude from DataFrame
    lat = hotel_df["Lat"]
    lng = hotel_df["Lng"]
    print(lat, lng)
    print(coords)
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    #url = "maps.googleapis.com/maps/api/directions/json?" + g_key + "&destination=" + coords
    
    # 6e. Make request and retrieve the JSON data from the search. 
    #nearest_hotels = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64, 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58
673    149.58
674    -73.12
Name: Lng, dtype: float64
1     -53.15
34    -54.80
83     72.79
86     62.46
164    68.75
180    77.48
214    71.29
236   -46.28
241    65.61
254    69.22
319    70.63
351    69.70
353   -41.15
440    69.38
441    66.32
459   -45.58
528    54.23
559    60.82
624   -45.87
629   -39.03
673   -33.42
674   -36.72
Name: Lat, dtype: float64 1      -70.92
34     -68.30
83     -56.15
86    -114.35
164    161.30
180    -69.36
214   -156.79
236    169.85
241    -37.64
254    -51.10
319    147.92
351    170.31
353    -71.31
440    178.42
441   -179.17
459    -72.07
528   -125.75
559   -115.80
624    -67.50
629    -67.58

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure